body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
    
}
.half-width img{
    width: 80%;
    padding-top: 10%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big-text{
    padding-top: 150px;
    padding-right: 2%;
}
.dream-big-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}